.customContentInsertion{
    margin-left: 23px;
}

.accordion-counter {
    margin-bottom: 10px;
}

.accordion {
    color: black;
    cursor: pointer;
    box-shadow: $list-shadow;
    
    &.row{
        margin-top: 10px;
        height: 55px;
        background-color: $white;
        padding: 15px;

        .item {
            span{
                display: block;
            }
            span:nth-of-type(2){
                font-size: 0.9rem;
                color: $medium-gray;
            }
        }

        .activity-status{
            @include status-tag;
        }

        &.selected{
            //box-shadow: $list-shadow-selected;
            background-color: $color-primary;
            color: $white;
        }   
    }
    
    & .content{
        padding: 30px;
        background-color: $white;
        margin-bottom: 10px;

        & .grid-x:not(.process-actions){
            padding-left: 45px;
            padding-top: 10px;
            margin-bottom: 20px;
        }

        & .grid-x.process-actions{
            background-color: $background-gray;
            height: 55px;
        }

        & .entrepreneur-work{
            & .cell{
                display: flex;
                align-content: center;
            }

            & svg{
                margin-right: 5px;
            }
        }
    }
}

.accordion-toggle{
    margin-left: -27px !important;
    cursor: pointer;
}

.accordion-edit{
    margin-left: 10px;
    cursor: pointer;
}

.new-accordion {
    background-color: $white;
    height: 55px;
    margin-top: 10px;
    border: 1px dashed $medium-gray;
    text-align: center;
    border-radius: $border-radius-small;
    cursor: pointer;

    & p {
        margin-bottom: 0px;
    }
}