@mixin button-base{
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.button {
  @include button-base;
  border-radius: 4px;
  background-color: $blue;
  padding: 13px 28px;
  padding-left: 25px;
  font-size: 0.8rem;
  font-weight: 500;
  border: 0px;
  -webkit-transition: box-shadow .3s ease;
  transition: box-shadow .3s ease;
  color: $white;
  width: 100%;
  margin-top: 10px;

  &:hover, &:active, &:focus {
    background-color: $blue;
    color: $white;
    box-shadow: 0px 2px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.07), 0px 1px 4px 0px rgba(0, 0, 0, 0.10);
  }
}

.button-small{
  padding: 8px;
    border-radius: 4px;
    background-color: $blue;
    font-size: 0.8rem;
    @include button-base;
    font-weight: 500;
    border: 0px;
    -webkit-transition: box-shadow .3s ease;
    -webkit-transition: -webkit-box-shadow .3s ease;
    transition: -webkit-box-shadow .3s ease;
    transition: box-shadow .3s ease;
    transition: box-shadow .3s ease, -webkit-box-shadow .3s ease;
    color: #fff;

  &:hover, &:active, &:focus {
    background-color: $blue;
    color: $white;
    box-shadow: 0px 2px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.07), 0px 1px 4px 0px rgba(0, 0, 0, 0.10);
  }
}

.button-big {
  padding: 20px 30px;
  width: auto;
  margin: auto;
  display: block;
  text-transform: uppercase;
  width: 110px;
  background-color: transparent;
  color: $white;
  border: 1px solid $white;
  -webkit-transition: background-color .3s ease, color .3s ease;
  transition: background-color .3s ease, color .3s ease;

  &:hover, &:active, &:focus {
    background-color: $white;
    color: $black;
  }
}

.button-customized {
  text-transform: uppercase;
  border: 1px solid $white;
  padding: 20px 30px;
  color: $white;
  background-color: transparent;
  margin: auto;
  display: block;
  -webkit-transition: background-color .3s ease, color .3s ease;
  transition: background-color .3s ease, color .3s ease;

  &:hover, &:active, &:focus {
    background-color: $white;
    color: $black;
  }
}

.button-filter-round {
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 34px;
  text-align: center;
  border-radius: 20px;
  border: 2px solid transparent;
  background: $gray;
  color: $dark-gray;
  font-size: 1.3em;
  cursor: pointer;
  margin-right: 4px;
  position: inherit;
  top: -2px;
  outline: none!important;
  margin-right: 10px;
  position: relative;
}

.buttons-modal {
  margin-top: 30px;
  margin-bottom: 10px;

  & a {
    margin-left: 5px;
    margin-right: 5px;
    border: 1px solid $gray;
    padding: 9px 27px;
    border-radius: 50px;
    color: $black;
  }

}

@mixin floating-button{
  width: 70px; 
  height: 70px; 
  border-radius: 50%; 
  border: 1px solid $color-primary;
} 
.button-new{
  @include button-base;
  @include floating-button;
}