/****************************/
/*       DASHBOARD          */
/****************************/

.dashboard-hero-img{
    background: url('./assets/images/vandroer.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    height: 250px;
    
    &.blur {
        -webkit-filter: blur(3px);
        -moz-filter: blur(3px);
        -o-filter: blur(3px);
        -ms-filter: blur(3px);
        filter: blur(3px);
    }
}
.dashboard-header{
    color: #fff;
    top: 0;
    left: 0;
    width: 100%;
    height: 250px;
    position: absolute;
    padding: 45px;
    background-color: $blur-black;

    .circle{
        font-size: 2rem;
        width: 70px; 
        height: 70px; 
        border: 4px solid $turquoise; 
        border-radius: 50%;
    }

    // .alert{}
}

.dashboard-tabs{
    margin-top: 30px;
    align-items: center;
    padding-bottom: 10px;
    
    button{
        color: $white;
        margin-left: 100px;
    }
}