/****************************/
/*       DASHBOARD          */
/****************************/

.dashboard-hero-img{
    background: url('./assets/images/vandroer.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    height: 250px;
    
    &.blur {
        -webkit-filter: blur(3px);
        -moz-filter: blur(3px);
        -o-filter: blur(3px);
        -ms-filter: blur(3px);
        filter: blur(3px);
    }
}
.dashboard-header{
    color: #fff;
    top: 0;
    left: 0;
    width: 100%;
    height: 250px;
    position: absolute;
    padding: 45px;
    background-color: $blur-black;
}

.dashboard-tabs{
    align-items: center;
    padding-bottom: 10px;
    
    a{
        color: $white;
        margin: 35px;
        padding-bottom: 15px;
        border-bottom: 3px solid transparent;

        & * {
            vertical-align: middle;
        }

        &.active{
            border-bottom: 3px solid $white;
        }
    }
}