.list-counter {
    margin-bottom: 10px;
}

.list {
    background-color: $background-grey;
    padding: 10px;
    color: black;
    border-left: 6px solid $color-supply-sewer;
    -webkit-box-shadow: $list-shadow;
	-moz-box-shadow: $list-shadow;
	box-shadow: $list-shadow;

    .item {
        span{
            display: block;
        }
        span:last-child{
            font-size: 0.9rem;
            color: $medium-gray;
        }
    }

    .enquiry-status {
        width: 150px;
        height: 30px;
        border-radius: 30px;
        background-color: $color-primary;
        color: white;
        text-align: center;
        line-height: 30px;
    }
}