.list-counter {
    margin-bottom: 10px;
}

.list {
    background-color: $background-grey;
    padding: 10px;
    color: black;
    height: 55px;
    border-left: 6px solid $color-supply-sewer;
	box-shadow: $list-shadow;

    .item {
        span{
            display: block;
        }
        span:nth-of-type(2){
            font-size: 0.9rem;
            color: $medium-gray;
        }
    }

    .enquiry-status {
        @include status-tag;
    }
}