$color-primary: #5293bc;
$turquoise:   #4abec1;
$blur-black: rgba(2,2,3,0.57);
$background-grey: #fbfbfc;

$black:       #424242;
$white:       #fff;
$blue:        #5293be;
$red:         #ec0d0d;
$green:       green;

$light-gray:  #ececec;
$gray:        #efeded;
$medium-gray: #bebebe;
$dark-gray:   #82868d;