$color-primary: #5293bc;
$turquoise:   #4abec1;
$blur-black: rgba(2,2,3,0.57);

// Shadow
$list-shadow: 0 0 3px hsla(240, 14%, 91%, 1);
$box-shadow: 0 0 3px #e5e5eb;
$shadow-color: #e5e5eb;

// Selected
$selected-gray:      #f0f0f4;

$black:              #424242;
$white:              #fff;
$blue:               #5293be;
$red:                #ec0d0d;
$green:              green;

$light-gray:         #ececec;
$gray:               #efeded;
$background-gray:    #fbfbfc;
$medium-gray:        #bebebe;
$dark-gray:          #82868d;

$color-supply-sewer: #b1c92d;