$font_path: './assets/fonts/';

/* ROBOTO */

@font-face {
    font-family: "Roboto";
    font-weight: 100;
    font-style: normal;
    src: url($font_path + 'Roboto/Roboto-Thin.woff') format("woff"),
         url($font_path + 'Roboto/Roboto-Thin.woff2') format("woff2"),
         url($font_path + 'Roboto/Roboto-Thin.ttf') format("truetype"),
         url($font_path + 'Roboto/Roboto-Thin-webfont.eot') format("embedded-opentype"),
         url($font_path + 'Roboto/Roboto-Thin-webfont.svg') format("svg");
}

@font-face {
    font-family: "Roboto";
    font-weight: 300;
    font-style: normal;
    src: url($font_path + 'Roboto/Roboto-Light.woff') format("woff"),
         url($font_path + 'Roboto/Roboto-Light.woff2') format("woff2"),
         url($font_path + 'Roboto/Roboto-Light.ttf') format("truetype"),
         url($font_path + 'Roboto/Roboto-Light-webfont.eot') format("embedded-opentype"),
         url($font_path + 'Roboto/Roboto-Light-webfont.svg') format("svg");
}

@font-face {
    font-family: "Roboto";
    font-weight: 400;
    font-style: normal;
    src: url($font_path + 'Roboto/Roboto-Regular.woff') format("woff"),
         url($font_path + 'Roboto/Roboto-Regular.woff2') format("woff2"),
         url($font_path + 'Roboto/Roboto-Regular.ttf') format("truetype"),
         url($font_path + 'Roboto/Roboto-Regular-webfont.eot') format("embedded-opentype"),
         url($font_path + 'Roboto/Roboto-Regular-webfont.svg') format("svg");
}

@font-face {
    font-family: "Roboto";
    font-weight: 500;
    font-style: normal;
    src: url($font_path + 'Roboto/Roboto-Medium.woff') format("woff"),
         url($font_path + 'Roboto/Roboto-Medium.woff2') format("woff2"),
         url($font_path + 'Roboto/Roboto-Medium.ttf') format("truetype"),
         url($font_path + 'Roboto/Roboto-Medium-webfont.eot') format("embedded-opentype"),
         url($font_path + 'Roboto/Roboto-Medium-webfont.svg') format("svg");
}

@font-face {
    font-family: "Roboto";
    font-weight: 700;
    font-style: normal;
    src: url($font_path + 'Roboto/Roboto-Bold.woff') format("woff"),
         url($font_path + 'Roboto/Roboto-Bold.woff2') format("woff2"),
         url($font_path + 'Roboto/Roboto-Bold.ttf') format("truetype"),
         url($font_path + 'Roboto/Roboto-Bold-webfont.eot') format("embedded-opentype"),
         url($font_path + 'Roboto/Roboto-Bold-webfont.svg') format("svg");
}


/* BARLOW */

@font-face {
    font-family: "Barlow";
    font-weight: 100;
    font-style: normal;
    src: url($font_path + 'Barlow/Barlow-Thin.woff') format("woff"),
         url($font_path + 'Barlow/Barlow-Thin.woff2') format("woff2"),
         url($font_path + 'Barlow/Barlow-Thin.ttf') format("truetype"),
         url($font_path + 'Barlow/Barlow-Thin-webfont.eot') format("embedded-opentype"),
         url($font_path + 'Barlow/Barlow-Thin-webfont.svg') format("svg");
}

@font-face {
    font-family: "Barlow";
    font-weight: 200;
    font-style: normal;
    src: url($font_path + 'Barlow/Barlow-Extralight.woff') format("woff"),
         url($font_path + 'Barlow/Barlow-Extralight.woff2') format("woff2"),
         url($font_path + 'Barlow/Barlow-Extralight.ttf') format("truetype"),
         url($font_path + 'Barlow/Barlow-Extralight-webfont.eot') format("embedded-opentype"),
         url($font_path + 'Barlow/Barlow-Extralight-webfont.svg') format("svg");
}

@font-face {
    font-family: "Barlow";
    font-weight: 300;
    font-style: normal;
    src: url($font_path + 'Barlow/Barlow-Light.woff') format("woff"),
         url($font_path + 'Barlow/Barlow-Light.woff2') format("woff2"),
         url($font_path + 'Barlow/Barlow-Light.ttf') format("truetype"),
         url($font_path + 'Barlow/Barlow-Light-webfont.eot') format("embedded-opentype"),
         url($font_path + 'Barlow/Barlow-Light-webfont.svg') format("svg");
}

@font-face {
    font-family: "Barlow";
    font-weight: 400;
    font-style: normal;
    src: url($font_path + 'Barlow/Barlow-Regular.woff') format("woff"),
         url($font_path + 'Barlow/Barlow-Regular.woff2') format("woff2"),
         url($font_path + 'Barlow/Barlow-Regular.ttf') format("truetype"),
         url($font_path + 'Barlow/Barlow-Regular-webfont.eot') format("embedded-opentype"),
         url($font_path + 'Barlow/Barlow-Regular-webfont.svg') format("svg");
}

@font-face {
    font-family: "Barlow";
    font-weight: 500;
    font-style: normal;
    src: url($font_path + 'Barlow/Barlow-Medium.woff') format("woff"),
         url($font_path + 'Barlow/Barlow-Medium.woff2') format("woff2"),
         url($font_path + 'Barlow/Barlow-Medium.ttf') format("truetype"),
         url($font_path + 'Barlow/Barlow-Medium-webfont.eot') format("embedded-opentype"),
         url($font_path + 'Barlow/Barlow-Medium-webfont.svg') format("svg");
}

@font-face {
    font-family: "Barlow";
    font-weight: 600;
    font-style: normal;
    src: url($font_path + 'Barlow/Barlow-Semibold.woff') format("woff"),
         url($font_path + 'Barlow/Barlow-Semibold.woff2') format("woff2"),
         url($font_path + 'Barlow/Barlow-Semibold.ttf') format("truetype"),
         url($font_path + 'Barlow/Barlow-Semibold-webfont.eot') format("embedded-opentype"),
         url($font_path + 'Barlow/Barlow-Semibold-webfont.svg') format("svg");
}

@font-face {
    font-family: "Barlow";
    font-weight: 700;
    font-style: normal;
    src: url($font_path + 'Barlow/Barlow-Bold.woff') format("woff"),
         url($font_path + 'Barlow/Barlow-Bold.woff2') format("woff2"),
         url($font_path + 'Barlow/Barlow-Bold.ttf') format("truetype"),
         url($font_path + 'Barlow/Barlow-Bold-webfont.eot') format("embedded-opentype"),
         url($font_path + 'Barlow/Barlow-Bold-webfont.svg') format("svg");
}

@font-face {
    font-family: "Barlow";
    font-weight: 800;
    font-style: normal;
    src: url($font_path + 'Barlow/Barlow-Extrabold.woff') format("woff"),
         url($font_path + 'Barlow/Barlow-Extrabold.woff2') format("woff2"),
         url($font_path + 'Barlow/Barlow-Extrabold.ttf') format("truetype"),
         url($font_path + 'Barlow/Barlow-Extrabold-webfont.eot') format("embedded-opentype"),
         url($font_path + 'Barlow/Barlow-Extrabold-webfont.svg') format("svg");
}

@font-face {
    font-family: "Barlow";
    font-weight: 900;
    font-style: normal;
    src: url($font_path + 'Barlow/Barlow-Black.woff') format("woff"),
         url($font_path + 'Barlow/Barlow-Black.woff2') format("woff2"),
         url($font_path + 'Barlow/Barlow-Black.ttf') format("truetype"),
         url($font_path + 'Barlow/Barlow-Black-webfont.eot') format("embedded-opentype"),
         url($font_path + 'Barlow/Barlow-Black-webfont.svg') format("svg");
}