/****************************/
/*          TAGS            */
/****************************/

@mixin status-tag{
    width: 150px;
    height: 30px;
    border-radius: 30px;
    background-color: $color-primary;
    color: white;
    text-align: center;
    line-height: 30px;
}


/****************************/
/*          RADIUS          */
/****************************/

$border-radius-small: 3px;
