.dashboard {
    position: relative;
    background-color: $background-grey;
}

.dashboard-content {
    background-color: $white;
    padding-top: 25px;
    box-shadow: $box-shadow;
    height: 100%;
}

.dashboard-list{
    margin-right: 25px;
}

.new-work-container {
    & a {
        margin: 24px 0 0 50px;
    }
}
