.login {
    color: $white;

    & .login-left {
        width: 40%;
        background-color: blue;
    }
    
    & .login-right {
        width: 60%;
        background-color: green;
    }
}

.flex-div {
    padding:1em;
    min-height: 100vh;
    align-items: center;
    display:flex;
    display: -webkit-box;
    display: -ms-flexbox;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}