body {
  margin: 0;
  background-color: $white;
}
    
#app {
  font-family: 'Roboto', 'Avenir', Helvetica, Arial, sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $black;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

main {
  padding-top: 30px;
  padding-bottom: 30px;
}
  
a {
  color: $blue;
  -webkit-transition: color .3s ease;
     -moz-transition: color .3s ease;
       -o-transition: color .3s ease;
          transition: color .3s ease;

  &:hover {
    color: $black;
  }
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;

  // & li {
  //   display: inline-block;
  // }
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', Helvetica, Arial, sans-serif !important;
  font-weight: 500;
}

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.4rem;
}

h3 {
  font-size: 1.3rem;
}

h4 {
  font-size: 1.2rem;
}

h5 {
  font-size: 1.1rem;
}

h6 {
  font-size: 1rem;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.overflow {
  overflow-y: auto;
}

.content {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 71.875em;
}

.content-left {
  width: 100%;
  margin-left: 0;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 89em;
}

.form-view {
  & .header-subpage {
      padding: 20px 0px;
      background-color: $blue;
      color: $white;
      height: 160px;

      & .arrow-left-circle-svg {
          width: 40px;
          height: 40px;
          fill: $dark-gray;
      }
      
      & .user-svg {
          width: 20px;
          fill: $dark-gray;
          vertical-align: 0px;
          margin-right: 5px;
          margin-top: 10px;
      }
  }

  & main {
      padding-top: 30px;
      padding-bottom: 30px;

      & .sidemenu {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;

          & ul {
              list-style-type: inherit;
              margin: 0;
              padding: 0;
              border: 1px solid $black;
              background-color: $white;
            
              & li {
                display: block;
                
                  &.active {
                      background-color: $blue;
                      color: $white;
                  }

                  & a {
                      display: block;
                      cursor: pointer;
                      padding: 15px 20px;

                      & .wrench-svg {
                          width: 28px;
                      }
                  }

              }
          }
      }

      & section {
          margin: auto;
          max-width: 1000px;

          & h2 {
              text-transform: uppercase;
              font-size: 1.2rem;
              margin-left: 23px;
              margin-bottom: 40px;
          }

          & .form {
              margin-top: 10px;
              margin-bottom: 10px;

              & img {
                  width: 20px;
                  margin: auto;
                  display: block;
              }

              & .border-bottom {
                  border-bottom: 1px solid $gray;
                  padding-top: 10px;
                  padding-bottom: 20px;
              }

              & p {
                  margin-bottom: 0px;
                  padding-top: 16px;
              }

              & input, & select, & textarea {
                  margin-bottom: 0px;
                  margin-top: 8px;
              }

              & .selected-supply-sewer {
                  border: 2px solid $green
              }

              & .selected-supply-water {
                  border: 2px solid $blue;
              }
          
              & .water svg, & .sewer svg {
                  width: 100%;
                  height: 100%;
                  position: absolute;
                  top: 0;
                  bottom: 0;
                  left: 0;
                  right: 0;
                  padding: 10px;
              }

              & .select-supply span {
                  margin-right: 20px;
                  vertical-align: 16px;
              }

              & .bigger-padding p {
                  padding-top: 45px;
              }
          }
      }
  }
}

.required {
  color: $red;
}

.full-height {
  height: 100%;
}

.no-margin {
  margin: 0 !important;
}



/**********************************/
/*              SVG               */
/**********************************/

.small-svg {
  width: 20px;
  height: 20px;
}

.medium-svg {
  width: 40px;
  height: 40px;
}

.fill-white {
  fill: $white !important;
}

.fill-dark-gray {
  fill: $dark-gray !important;
}

.stroke-white {
  stroke: $white;
}

/**********************************/
/*            FLEXBOX             */
/**********************************/

.flexbox-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flexbox-start {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.align-items {
  align-items: center;
}

.flex-div {
  min-height: 100vh;
  height: 100vh;
  align-items: center;
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
