body {
  margin: 0;
  background-color: $white;
}
    
#app {
  font-family: 'Roboto', 'Avenir', Helvetica, Arial, sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $black;
  font-weight: 400;
  margin: 0;
  padding: 0;
}
  
a {
  color: $blue;
  -webkit-transition: color .3s ease;
     -moz-transition: color .3s ease;
       -o-transition: color .3s ease;
          transition: color .3s ease;

  &:hover {
    color: $black;
  }
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;

  & li {
    display: inline-block;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', 'Avenir', Helvetica, Arial, sans-serif !important;
}

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.4rem;
}

h3 {
  font-size: 1.3rem;
}

h4 {
  font-size: 1.2rem;
}

h5 {
  font-size: 1.1rem;
}

h6 {
  font-size: 1rem;
}

.content {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 71.875em;
}