/**********************************/
/*            GENERAL             */
/**********************************/

html{
  height: 100%;
}

body {
  margin: 0;
  background-color: $background-gray;
  height: 100%
}

#app {
  font-family: 'Roboto', 'Avenir', Helvetica, Arial, sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $black;
  font-weight: 400;
  margin: 0;
  padding: 0;
  height: 100%;
}

main {
  height: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
}


/**********************************/
/*            ELEMENTS            */
/**********************************/

a {
  color: $blue;
  -webkit-transition: color .3s ease;
     -moz-transition: color .3s ease;
       -o-transition: color .3s ease;
          transition: color .3s ease;

  &:hover {
    color: $black;
  }
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;

  // & li {
  //   display: inline-block;
  // }
}


/**********************************/
/*            HEADINGS            */
/**********************************/

h1, h2, h3, h4, h5, h6 {
  font-family: 'Barlow', 'Roboto', Helvetica, Arial, sans-serif !important;
  font-weight: 500;
}

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.4rem;
}

h3 {
  font-size: 1.3rem;
}

h4 {
  font-size: 1.2rem;
}

h5 {
  font-size: 1.1rem;
}

h6 {
  font-size: 1rem;
}

/**********************************/
/*            POSITION            */
/**********************************/

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.overflow {
  overflow-y: auto;
}

.content {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 71.875em;
}

.content-left {
  width: 100%;
  margin-left: 0;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 89em;
}

.relative {
  position: relative;
}

.absolute-full {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.cursor {
  cursor: pointer;
}

.disabled {
  color: $gray;
  cursor: not-allowed;

  &:hover {
    color: $gray;
  }
}

/**********************************/
/*            LAYOUT              */
/**********************************/

.full-height {
  height: 100%;
}

.no-margin {
  margin: 0 !important;
}

.icon-cell{
  width: 50px !important;
}


/**********************************/
/*            FORM                */
/**********************************/

.form-view {

  & .header-subpage {
      padding: 20px 0px;
      background-color: $blue;
      color: $white;
      height: 160px;

      & .arrow-left-circle-svg {
          width: 40px;
          height: 40px;
          fill: $dark-gray;
      }
      
      & .user-svg {
          width: 20px;
          fill: $dark-gray;
          vertical-align: 0px;
          margin-right: 5px;
          margin-top: 10px;
      }
  }

  & main {
      padding-top: 30px;
      padding-bottom: 30px;

      & .sidemenu {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;

          & ul {
              list-style-type: inherit;
              margin: 0;
              padding: 0;
              border-radius: 3px;
              border-top-left-radius: 0px;
              border-bottom-left-radius: 0px;
              background-color: $light-gray;
            
              & li {
                display: block;
                border-top: 1px solid $white;

                &:first-child {
                  border-top: 0px;

                  &.active {
                    border-top-right-radius: 3px;
                  }
                }

                &:last-child.active {
                  border-bottom-right-radius: 3px;
                }
                
                &.active {
                    background-color: $dark-blue;
                    color: $white;
                    text-align: center;

                    & span {
                      color: $white;
                    }

                    & svg {
                      fill: $white;
                    }
                }

                & a {
                    display: block;
                    cursor: pointer;
                    padding: 15px 20px;
                    text-align: center;

                    & svg {
                        width: 28px;
                    }

                    & span {
                      display: block;
                      font-size: 0.6rem;
                      text-align: center;
                      color: $black;
                      margin-top: -5px;
                    }
                }

              }
          }
      }

      & section {
          margin: auto;
          max-width: 1000px;

          & h2 {
              text-transform: uppercase;
              font-size: 1.2rem;
              margin-left: 23px;
              margin-bottom: 40px;
          }

          & .form {
              margin-top: 10px;
              margin-bottom: 10px;

              & svg:first-child {
                margin-right: 7px;
              }

              & img {
                  width: 20px;
                  margin: auto;
                  display: block;
              }

              & .border-bottom {
                  border-bottom: 1px solid $gray;
                  padding-top: 10px;
                  padding-bottom: 20px;
              }

              & p {
                  margin-bottom: 0px;
                  padding-top: 16px;
              }

              & input, & select, & textarea {
                  margin-bottom: 0px;
                  // margin-top: 8px;
              }

              & .selected-supply-sewer {
                  border: 2px solid $green
              }

              & .selected-supply-water {
                  border: 2px solid $blue;
              }
          
              & .water svg, & .sewer svg {
                  width: 100%;
                  height: 100%;
                  position: absolute;
                  top: 0;
                  bottom: 0;
                  left: 0;
                  right: 0;
                  padding: 10px;
              }

              & .select-supply span {
                  margin-right: 20px;
                  vertical-align: 16px;
              }

              & .bigger-padding p {
                  padding-top: 45px;
              }
          }
      }
  }
}


/****************************/
/*          TAGS            */
/****************************/

@mixin status-tag{
  width: 150px;
  height: 30px;
  border-radius: 30px;
  background-color: $color-primary;
  color: white;
  text-align: center;
  line-height: 30px;
}


/****************************/
/*          MISC            */
/****************************/

$border-radius-small: 3px;
$circle-radius: 50%;
.required {
  color: $red;
}
.icon-round-background{
  width: 35px;
  height: 35px; 
  background-color: $dark-gray; 
  border-radius: $circle-radius;
}


/**********************************/
/*              SVG               */
/**********************************/

.small-svg {
  width: 20px;
  height: 20px;
}

.medium-svg {
  width: 30px;
  height: 30px;
}

.big-svg {
  width: 40px;
  height: 40px;
}

.fill-white {
  fill: $white !important;
}

.fill-medium-gray {
  fill: $medium-gray !important;
}

.fill-dark-gray {
  fill: $dark-gray !important;
}

.fill-primary {
  fill: $color-primary !important;
}

.stroke-white {
  stroke: $white;
}

/**********************************/
/*            FLEXBOX             */
/**********************************/

.flexbox{
  display: flex;
}

.flexbox-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flexbox-start {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
  
.flexbox-centertext {
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.align-items {
  align-items: center;
}

.flex-div {
  min-height: 100vh;
  height: 100vh;
  align-items: center;
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}